<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.co.cyberagent.katalog">

    <application
        android:supportsRtl="false"
        tools:replace="android:supportsRtl">
        <activity
            android:name=".KatalogActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
    </application>

</manifest>
